<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">


  <title>Document</title>
</head>
<body>
  
<!-- Inicio do Header -->
  <header class="header d-flex align-items-center ">
    <div class="bg-header container position-relative">
      <h1 class="font_fredoka">BALAS 7 BELO, DESDE 1960 A MELHOR BALA FABRICADA NO BRASIL</h1>
    </div>
  </header><!-- FIM do Header  -->

<!-- Inicio das Sections -->
  <!-- INICIO dos Beneficios e imagem do produto -->
  <section>
    <div class="container conteudo_section">
      <div class="img_principal">
        <!-- <img src="../assets/img/img_principal.svg" alt=""> -->
      </div>
      <div>
        <div class="titulo_secundario">
          <h3 class="font_fredoka">TITULO DOS BENEFICIOS</h3>
        </div>
        <div class="texto_beneficios font_fredoka">
          <p>TEXTO SOBRE OS BENEFICIOS DA BALA</p>
        </div>
      </div>
    </div>
  </section><!-- FIM dos beneficios e imagem do produto -->
  <!-- INICIO Frase de efeito para o dia dos namorados -->
  <section>

  </section><!-- FIM da Frase de efeito para o dia dos namorados -->
  <!-- INICIO Testemunhos de quem já comprou -->
  <section></section><!-- INICIO dos Testemunhos  -->
<!-- FIM das Sections -->

  <!-- INICIO Campos para inscrição -->
  <footer>
    <div class="register">

    </div>
  </footer>





</body>
</html>