
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>LP Balas 7 Belo</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!---------------------------------------- Google Fonts -------------------------------->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
   
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
  </head>


<!---------------------------------------- INICIO TITULO PRINCIPAL -------------------------------->
<section id="hero" class="bg_fundo_topo">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center text-center">
          <div class="h_titulo" data-aos="zoom-out">
            <h1>BALAS 7 BELO, DESDE 1960 A MELHOR BALA FABRICADA NO BRASIL</h1>            
          </div>
        </div>
      </div>
    </div>

  </section><!-------------------------------- Final do TITULO -------------------------------->


  <main id="main"> <!-------------------------  Inicio do CORPO da pagina  -------------------------------->

    <!---------------------------------------  Inicio da Cessão dos testemunhos -------------------------------->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-6 col-lg-6 d-flex justify-content-center align-items-stretch" data-aos="fade-right">
            <img class="tamanho_prop" src="./assets/img/img_7belo/img/img_principal.svg" alt="">
          </div>

          <div class="col-xl-5 col-lg-6 icon-boxes d-flex flex-column align-items-center justify-content-center py-5 px-lg-5" data-aos="fade-left">
            <h3>Beneficios do Produto</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur aperiam, ab quas quo sed exercitationem deleniti dicta asperiores,
               totam dolorum voluptatibus saepe accusamus aspernatur temporibus nobis odio. Aliquam, error reiciendis
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur aperiam, ab quas quo sed exercitationem deleniti dicta asperiores,
               totam dolorum voluptatibus saepe accusamus aspernatur temporibus nobis odio. Aliquam, error reiciendis.</p>


          </div>
        </div>

      </div>
    </section><!------------------------------- FIm cessão dos beneficios -------------------------------->


    

    <!---------------------------------------- Corpo cessão dia dos namorados -------------------------------->
    <section id="details" class="details bg_fundo">
      <div class="container">

        <div class="container features container_fix">

          <div class="section-title " data-aos="fade-up">
            <h3 class="titulo_namorados">BALAS 7 BELO, É O MELHOR PRESENTE PARA O DIA DOS NAMORADOS</h3>
          </div>
  
  
        </div>
        <div class="row content">
          <div class="col-md-6 order-1 order-md-2" data-aos="fade-left">
            <img src="./assets/img/img_7belo/img/namorados.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-6  mg-topo order-2 order-md-1 " data-aos="fade-up">
            <h3>Você não pode comprar felicidade, mas pode comprar um pacote de Balas 7Belo que é quase a mesma coisa</h3>
          </div>
        </div>

      </div>
    </section><!--------------------------------- FIM cessão dia dos namorados -------------------------------->

    <!------------------------------------------- INICIO CAMPO DE TESTE MUNHOS ------------------------------>
    <section id="testemunhos" class="testemunhos ">
      <div class="container testemunhos">
        <div class="section-title titulo_center" data-aos="fade-up">
          <h3 >Testemunhos</h3>
        </div>
      </div>

    </section><!----------------------------------  End Gallery Section -------------------------------->

    <!---------------------------------------- ---- Texto e Testemunhos -------------------------------->
    <section id="testimonials" class="testimonials">
      <div class="container ">

        
        <div class="testimonials-slider " data-aos="fade-up" data-aos-delay="100">
          <div>
              <div class="disp_testemunhos">
                <div>
                  <div class="testimonial-item" >
                    <h3 id="person2">Nome 1</h3>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      <i id="Tx_com1"></i>
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div><!---------------------------------- Fim Testemunho 1 -------------------------------->

                <div>
                  <div class="testimonial-item">
                    <h3 id="person2">Nome 2</h3>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      <i id="Tx_com2"></i>
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div><!---------------------------------- Fim Testemunho 2 -------------------------------->
              </div>
            
              <div class="disp_testemunhos">
                <div>
                  <div class="testimonial-item">
                    <h3 id="person3">Nome 3</h3>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      <i id="Tx_com3"></i>
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div><!------------------------------------- Fim Testemunho 3 -------------------------------->

                
                  <div class="testimonial-item">
                    <h3 id="person4">Nome 4</h3>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      <i id="Tx_com4"></i>
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div><!------------------------------------- Fim Testemunho 4 ------------------==-------------->
              </div>
        </div>
         
      </div>

      
    </section><!---------------------------------------- Fim Campo testemunhos -------------------------------->

    

    <!---------------------------------------- ----------Inicio campos para inscrição ----------==------------->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <p class="titulo_center">Inscreva-se, faça parte dessa familia e receba todas as novidades</p>
        </div>

        <div class="row align-items-center justify-content-center">


          <div class="col-lg-6 mt-lg-0" data-aos="fade-left" data-aos-delay="200">
<!----------------------------------------    -  ------------------------------->
             
            <form onsubmit="inscricao_cliente()" method="post" role="form" class="form_e-mail">
              <div class="row">
                <div class="col-md-5 form-group">
                  <input type="text" name="nome" class="form-control" id="nome" placeholder="Seu nome" required>
                </div>
                <div class="col-md-5 form-group mt-3 mt-md-0">
                  <input type="text" class="form-control" name="fone" id="fone" placeholder="Seu telefone" required>
                </div>
              </div>
              <div class="col-md-10 form-group mt-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="Seu melhor e-mail" required>
              </div>
          
              <div><button type="submit">Confirmar Inscrição</button></div>
            </form>
<!----------------------------------- -------------------------------->  
          </div>

          <div class="col-md-4 order-md-2" data-aos="fade-left">
            <img src="./assets/img/img_7belo/img/pessoa_feliz.svg" class="img-fluid img_redondo" alt="">
          </div>

        </div>

      </div>
    </section><!----------------------------------- FIM campo de inscrição -------------------------------->

  </main><!---------------------------------------- FIM do CORPO da pagina  ------------------------------->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>


   <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>